In [1]:
# STEP1 :CREATE A C;USTER 
# https://docs.databricks.com/en/getting-started/quick-start.html
'''
- Compute
- Create compute 
- 12.2 LTS( Scala 2.12 , Spark3.3.2)
- Create Cluster
'''

# Step 2: Create a Notebook 
'''
 * Workspace 
 * Add Button > Notebook 
 * Name: 
'''

'\n * Workspace \n * Add Button > Notebook \n * Name: \n'

In [2]:
#Step 3: Create a table
'''
Option 1: Create a Spark table from the CSV data

drop table if exists diamonds
CREATE TABLE diamonds USING CSV OPTIONS (path "/databricks-datasets/Rdatasets/data-001/csv/ggplot2/diamonds.csv", header "true")

'''

'\nOption 1: Create a Spark table from the CSV data\n\ndrop table if exists diamonds\nCREATE TABLE diamonds USING CSV OPTIONS (path "/databricks-datasets/Rdatasets/data-001/csv/ggplot2/diamonds.csv", header "true")\n\n'

In [3]:
# Query the Table 
'''
 select 
   COLOR, avg(price) as price 
 FROM diamonds 
 GROUP BY COLOR 
 ORDER BY COLOR

'''

'\n select \n   COLOR, avg(price) as price \n FROM diamonds \n GROUP BY COLOR \n ORDER BY COLOR\n\n'

In [4]:
# Step 5: Display the data
'''
Display a chart of the average diamond price by color.

1. Next to the Table tab, click + and then click Visualization.
   The visualization editor displays.
2. In the Visualization Type drop-down, verify that Bar is selected.
3. Clear the Horizontal chart checkbox.
4. Change the aggregation type for the y columns from Sum to Average.
5. Click Save.

'''

'\nDisplay a chart of the average diamond price by color.\n\n1. Next to the Table tab, click + and then click Visualization.\n   The visualization editor displays.\n2. In the Visualization Type drop-down, verify that Bar is selected.\n3. Clear the Horizontal chart checkbox.\n4. Change the aggregation type for the y columns from Sum to Average.\n5. Click Save.\n\n'

In [5]:
# Regulary 
'''
 I should Study 
  * S3 
  * IAM 
  * GLUE 
  * EMR 
  * PYSPARK
  * ATHENA
  * STEP FUNCTION / 

'''

'\n I should Study \n  * S3 \n  * IAM \n  * GLUE \n  * EMR \n  * PYSPARK\n  * ATHENA\n  * STEP FUNCTION / \n\n'

In [6]:
from pyspark.sql import Row

# Parallelize the queries
queries_rdd = sc.parallelize(queries)

# Use map to execute the queries and collect the results
results = queries_rdd.map(lambda query: 
                          Row(query=query, result=spark.sql(query).collect()
                              )
                        )

# Convert the results to a DataFrame
results_df = spark.createDataFrame(results)

NameError: name 'sc' is not defined

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql import Row
from concurrent.futures import ThreadPoolExecutor

# Initialize SparkSession
spark = SparkSession.builder.appName("MyApp").getOrCreate()

# Create a DataFrame with your queries
data = [
    ("SELECT COUNT(*) FROM table1",),
    ("SELECT COUNT(*) FROM table2",),
    ("SELECT COUNT(*) FROM table3",),
    # Add more queries
]

df = spark.createDataFrame(data, ["query"])

# Function to execute a query
def execute_query(query):
    result = spark.sql(query).collect()
    return Row(query=query, result=result)

# Use concurrent.futures.ThreadPoolExecutor to run queries in parallel
executor = ThreadPoolExecutor(max_workers=10)  # You can adjust the number of workers as needed

# Execute the queries and collect results
results = list(executor.map(execute_query, df.select("query").rdd.map(lambda x: x[0])))

# Create a DataFrame from the results
results_df = spark.createDataFrame(results)

# Show the results
results_df.show(truncate=False)